@import "../../styles/variables";
@import "../../styles/reset";
@import "../../styles/common";

main {
    .intro_section {
        margin: 0;

        .container {
            position: relative;
            height: 740px;

            .shoes_img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 160px;
                width: 296px;
                z-index: 2;
            }
            .nike {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 248px;
                font-family: "Protest Revolution", sans-serif;
                font-size: 150px;
                letter-spacing: 0.05em;
                color: $black;
                z-index: 1;
            }
            .just_do_it_box {
                position: absolute;
                bottom: 115px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                gap: 18px;
                width: 100%;

                .logo {
                    width: 62px;
                }
                div {
                    .just_do_it {
                        margin-bottom: 10px;
                        font-family: $font_family_english;
                        color: $black;
                        font-weight: $font_weight_extra_bold;
                        font-size: 30px;
                    }
                    .a_legacy_of_action {
                        font-family: $font_family_english;
                        color: $black;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .iconic_section {
        margin: 0;
        padding: 100px 0 150px;
        background: $black;

        .container {
            .title_box {
            }
            .slider {
            }
        }
    }
    .brand_section {
        .container {
            display: flex;
            flex-direction: column;
            gap: 80px;

            // 공통
            .img_text_box {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .text_box {
                    h3 {
                        font-size: 30px;
                        font-weight: 800;
                        color: $black;
                    }
                    .paragraph {
                        margin: 10px 0 40px;
                    }
                    .line {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: rgba(17, 17, 17, 0.3);
                    }
                }
            }
            .img_text_box {
                .bg_red_shoes {
                    width: 296px;
                    height: 260px;
                    background: url("/nike/img/brand_section_shoes_mobile_1.png")
                        no-repeat center/contain;
                }
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
            }
            .img_text_box {
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
                .img_box {
                    .bg_yellow_shoes {
                        width: 296px;
                        height: 296px;
                        background: url("/nike/img/brand_section_shoes_2.png")
                            no-repeat center/cover;
                    }
                    .bg_gray_shoes {
                    }
                }
            }
            .img_text_box {
                .bg_red_gold_shoes {
                    width: 296px;
                    height: 296px;
                    background: url("/nike/img/brand_section_shoes_4.png")
                        no-repeat center/cover;
                }
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
            }
            .img_text_box {
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
                .bg_blue_shoes {
                    width: 296px;
                    height: 151px;
                    background: url("/nike/img/brand_section_shoes_5.png")
                        no-repeat center/contain;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 190px;
                    width: 556px;
                }
                .nike {
                    top: 308px;
                    font-size: 300px;
                }
                .just_do_it_box {
                    bottom: 171px;
                    left: auto;
                    transform: translateX(0);
                    right: 0;
                    display: flex;
                    width: auto;

                    .logo {
                        width: 86px;
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
        .brand_section {
            .container {
                gap: 0;

                // 공통
                .img_text_box {
                    flex-direction: row;
                    gap: 0;

                    .text_box {
                        h3 {
                            font-size: 40px;
                        }
                        .paragraph {
                            margin: 15px 0 50px;
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_1 {
                    position: relative;
                    height: 408px;

                    .bg_red_shoes {
                        width: 362px;
                        height: 308px;
                        background: url("/nike/img/brand_section_shoes_mobile_1.png")
                            no-repeat center/contain;
                        flex-shrink: 0;
                    }
                    .text_box {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        flex-shrink: 0;
                        margin-top: 230px;
                        text-align: right;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_2 {
                    margin-top: 80px;

                    .text_box {
                        order: 0;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .img_box {
                        order: 1;
                        .bg_yellow_shoes {
                            width: 296px;
                            height: 296px;
                            background: url("/nike/img/brand_section_shoes_2.png")
                                no-repeat center/cover;
                        }
                        .bg_gray_shoes {
                        }
                    }
                }
                .img_text_box_3 {
                    .bg_red_gold_shoes {
                        width: 296px;
                        height: 296px;
                        background: url("/nike/img/brand_section_shoes_4.png")
                            no-repeat center/cover;
                    }
                    .text_box {
                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_4 {
                    .text_box {
                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .bg_blue_shoes {
                        width: 296px;
                        height: 151px;
                        background: url("/nike/img/brand_section_shoes_5.png")
                            no-repeat center/contain;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 133px;
                    width: 750px;
                }
                .nike {
                    top: 308px;
                    font-size: 400px;
                }
                .just_do_it_box {
                    bottom: 171px;
                    left: auto;
                    transform: translateX(0);
                    right: 0;

                    .logo {
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 130px;
                    width: 750px;
                }
                .nike {
                }
                .just_do_it_box {
                    .logo {
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
        .iconic_section {
            padding: 100px 0;

            .container {
                .title_box {
                }
                .slider {
                }
            }
        }
    }
}
