@import "../../styles/variables";
@import "../../styles/reset";
@import "../../styles/common";

main {
    .intro_section {
        margin: 0;

        .container {
            position: relative;
            height: 740px;

            .shoes_img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 160px;
                width: 296px;
                z-index: 2;
            }
            .nike {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 248px;
                font-family: "Protest Revolution", sans-serif;
                font-size: 150px;
                letter-spacing: 0.05em;
                color: $black;
                z-index: 1;
            }
            .just_do_it_box {
                position: absolute;
                bottom: 115px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                gap: 18px;
                width: 100%;

                .logo {
                    width: 62px;
                }
                div {
                    .just_do_it {
                        margin-bottom: 10px;
                        font-family: $font_family_english;
                        color: $black;
                        font-weight: $font_weight_extra_bold;
                        font-size: 30px;
                    }
                    .a_legacy_of_action {
                        font-family: $font_family_english;
                        color: $black;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .iconic_section {
        margin: 0;
        padding: 100px 0 145px;
        background: $black;

        .container {
            .title_box {
            }
            .slider {
            }
        }
    }
    .brand_section {
        .container {
            display: flex;
            flex-direction: column;
            gap: 80px;

            // 공통
            .img_text_box {
                display: flex;
                flex-direction: column;
                gap: 25px;
                align-items: center;
                text-align: center;

                .text_box {
                    h3 {
                        font-family: $font_family_english;
                        font-size: 30px;
                        font-weight: 800;
                        color: $black;
                        letter-spacing: -0.04rem;
                    }
                    .paragraph {
                        margin: 10px 0 40px;
                    }
                    .line {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: rgba(17, 17, 17, 0.3);
                    }
                }
            }
            .img_text_box {
                .bg_red_shoes {
                    width: 296px;
                    height: 260px;
                    background: url("img/brand_section_shoes_mobile_1.png")
                        no-repeat center/contain;
                }
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
            }
            .img_text_box {
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                        width: 180%;
                    }
                }
                .img_box {
                    .bg_yellow_shoes {
                        width: 296px;
                        height: 296px;
                        background: url("img/brand_section_shoes_2.png")
                            no-repeat center/cover;
                    }
                    .bg_gray_shoes {
                    }
                }
            }
            .img_text_box {
                .bg_red_gold_shoes {
                    width: 296px;
                    height: 296px;
                    background: url("img/brand_section_shoes_4.png") no-repeat
                        center/cover;
                }
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
            }
            .img_text_box {
                .text_box {
                    h3 {
                    }
                    .paragraph {
                    }
                    .line {
                    }
                }
                .bg_blue_shoes {
                    width: 296px;
                    height: 151px;
                    background: url("img/brand_section_shoes_5.png") no-repeat
                        center/contain;
                }
            }
        }
    }
    .knight_section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-bottom: 80px;
        margin-bottom: 0;
        background: #f5f5f5;

        .bg_knight_photo {
            width: 100%;
            height: 463px;
            background: url("img/knight_section_photo.png") no-repeat center
                top/cover;
        }
        .text_box {
            width: 82.222%;
            margin: 0 auto;

            h2 {
                font-family: $font_family_english;
                font-size: 50px;
                font-weight: $font_weight_bold;

                span {
                    display: block;
                    margin-top: -10px;
                    font-size: 60px;
                    font-weight: $font_weight_extra_bold;
                }
            }
            .paragraph {
                margin: 20px 0 45px;
            }
        }
    }
    .legend_section {
        width: 100%;
        height: 584px;
        margin-top: 0;
        background: url("img/legend_section_photo.png") no-repeat center/cover;
        text-align: center;

        .container {
            padding-top: 154px;

            h2 {
                font-family: $font_family_korean;
                font-size: 40px;
                font-weight: $font_weight_extra_bold;
                color: $white;
            }
            .paragraph {
                margin: 20px 0 60px;
                color: $white;
            }
            .round_btn {
                margin: 0 auto;
            }
        }
    }
    .history_section {
        .container {
            .bg_red_shoes {
            }
            .history_wrap {
                display: flex;
                flex-direction: column;
                gap: 100px;

                // 공통
                .history_box {
                    display: flex;
                    gap: 16px;

                    span {
                        margin-top: -25px;
                        font-family: $font_family_number;
                        font-size: 80px;
                        font-weight: $font_weight_extra_bold;
                    }
                    div {
                        b {
                            font-family: $font_family_english;
                            font-size: 20px;
                            font-weight: $font_weight_extra_bold;
                        }
                        .paragraph {
                            margin-top: 10px;
                            padding-top: 16px;
                            border-top: 1px solid rgba(17, 17, 17, 0.3);
                        }
                    }
                }
                .history_box_1 {
                }
                .history_box_2 {
                }
                .history_box_3 {
                }
                .history_box_4 {
                }
            }
        }
    }
    .trending_section {
        padding: 100px 0;
        margin-bottom: 0;
        background: $black;

        .container {
            .round_btn {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 190px;
                    width: 556px;
                }
                .nike {
                    top: 308px;
                    font-size: 300px;
                }
                .just_do_it_box {
                    bottom: 171px;
                    left: auto;
                    transform: translateX(0);
                    right: 0;
                    display: flex;
                    width: auto;

                    .logo {
                        width: 86px;
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
        .iconic_section {
            padding: 120px 0 165px;

            .container {
                .title_box {
                }
                .slider {
                }
            }
        }
        .brand_section {
            .container {
                width: auto;
                gap: 0;

                // 공통
                .img_text_box {
                    flex-direction: row;
                    gap: 0;
                    align-items: flex-start;
                    text-align: left;

                    .text_box {
                        h3 {
                            font-size: 40px;
                        }
                        .paragraph {
                            margin: 15px 0 50px;
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_1 {
                    position: relative;
                    width: 86.979%;
                    height: 408px;
                    margin: 0 auto;

                    .bg_red_shoes {
                        width: 57.185%;
                        height: 308px;
                        background: url("img/brand_section_shoes_mobile_1.png")
                            no-repeat center/contain;
                        flex-shrink: 0;
                    }
                    .text_box {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        flex-shrink: 0;
                        margin-top: 230px;
                        text-align: right;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                }
                .img_text_box_2 {
                    margin-top: 80px;
                    margin-left: 7.031%;

                    .text_box {
                        order: 0;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .img_box {
                        order: 1;
                        // width: 42.896%;
                        // height: 308px;
                        margin-left: auto;

                        .bg_yellow_shoes {
                            // width: 100%;
                            // height: 100%;
                            width: 308px;
                            height: 308px;
                            margin-top: 97px;
                        }
                        .bg_gray_shoes {
                        }
                    }
                }
                .img_text_box_3 {
                    flex-direction: column;
                    gap: 6px;
                    margin-top: -144px;
                    margin-right: 7.031%;

                    .bg_red_gold_shoes {
                        width: 51.22%;
                        padding-bottom: 51.22%;
                    }
                    .text_box {
                        margin-left: auto;
                        text-align: right;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                }
                .img_text_box_4 {
                    position: relative;
                    height: 401px;
                    margin-top: 74px;

                    .text_box {
                        order: 0;
                        margin-left: 7.031%;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .bg_blue_shoes {
                        position: absolute;
                        bottom: 0;
                        right: -17.968%;
                        order: 1;
                        width: 80.64%;
                        height: 290px;
                    }
                }
            }
        }
        .knight_section {
            position: relative;
            z-index: 2;
            flex-direction: row;
            gap: 40px;
            width: 86.979%;
            margin: 0 auto;
            padding-bottom: 0;

            .bg_knight_photo {
                width: 48.802%;
                height: 419px;
            }
            .text_box {
                width: 51.198%;
                margin: 0;
                padding-right: 40px;

                h2 {
                    span {
                    }
                }
                .paragraph {
                    margin: 20px 0 30px;
                }
            }
        }
        .legend_section {
            height: 584px;
            margin-top: -54px;

            .container {
                padding-top: 220px;

                h2 {
                    font-size: 40px;
                }
                .paragraph {
                    margin: 20px 0 50px;
                }
                .round_btn {
                }
            }
        }
        .history_section {
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;

                .bg_red_shoes {
                    order: 2;
                    width: 238px;
                    height: 658px;
                    background: url("img/history_section_shoes.png") no-repeat
                        center/cover;
                }
                .history_wrap {
                    order: 1;
                    width: 48.802%;

                    // 공통
                    .history_box {
                        span {
                            font-size: 80px;
                        }
                        div {
                            b {
                                font-size: 20px;
                            }
                            .paragraph {
                                margin-top: 10px;
                                padding-top: 16px;
                            }
                        }
                    }
                    .history_box_1 {
                    }
                    .history_box_2 {
                    }
                    .history_box_3 {
                    }
                    .history_box_4 {
                    }
                }
            }
        }
        .trending_section {
            padding: 120px 0;

            .container {
                .round_btn {
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 133px;
                    width: 750px;
                }
                .nike {
                    top: 308px;
                    font-size: 400px;
                }
                .just_do_it_box {
                    bottom: 171px;
                    left: auto;
                    transform: translateX(0);
                    right: 0;

                    .logo {
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
        .iconic_section {
            padding: 150px 0 195px;

            .container {
                .title_box {
                }
                .slider {
                }
            }
        }
        .brand_section {
            .container {
                width: auto;

                // 공통
                .img_text_box {
                    .text_box {
                        h3 {
                            font-size: 50px;
                        }
                        .paragraph {
                            margin: 20px 0 55px;
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_1 {
                    width: 90.625%;
                    height: 416px;

                    .bg_red_shoes {
                        width: 51.939%;
                        height: 382px;
                    }
                    .text_box {
                        margin-top: 210px;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                }
                .img_text_box_2 {
                    margin-top: 170px;
                    margin-left: 4.687%;

                    .text_box {
                        order: 0;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .img_box {
                        order: 1;
                        width: 41.188%;

                        .bg_yellow_shoes {
                            width: 80.99%;
                            padding-bottom: 80.99%;
                            margin-left: auto;
                            margin-top: -50px;
                        }
                        .bg_gray_shoes {
                            width: 61.194%;
                            padding-bottom: 61.194%;
                            margin-top: -66px;
                            margin-right: auto;
                            background: url("img/brand_section_shoes_3.png")
                                no-repeat center/cover;
                        }
                    }
                }
                .img_text_box_3 {
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: -76px;
                    margin-right: 4.687%;

                    .bg_red_gold_shoes {
                        width: 39.5%;
                        padding-bottom: 39.5%;
                    }
                    .text_box {
                        align-self: flex-end;
                        margin-left: 0;
                        text-align: left;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                }
                .img_text_box_4 {
                    height: 332px;
                    margin-top: 158px;

                    .text_box {
                        order: 0;
                        margin-left: 4.687%;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                    .bg_blue_shoes {
                        bottom: 0;
                        right: -15.625%;
                        order: 1;
                        width: 69.467%;
                        height: 332px;
                    }
                }
            }
        }
        .knight_section {
            gap: 65px;
            width: 75.195%;

            .bg_knight_photo {
                width: 48.831%;
                height: 585px;
            }
            .text_box {
                width: 51.169%;
                padding-right: 80px;

                h2 {
                    span {
                    }
                }
                .paragraph {
                    margin: 35px 0 48px;
                }
            }
        }
        .legend_section {
            height: 860px;
            margin-top: -90px;

            .container {
                padding-top: 350px;

                h2 {
                    font-size: 50px;
                }
                .paragraph {
                    margin: 20px 0 50px;
                }
                .round_btn {
                }
            }
        }
        .history_section {
            .container {
                position: relative;
                height: 1000px;

                .bg_red_shoes {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 233px;
                    height: 633px;
                }
                .history_wrap {
                    width: auto;

                    // 공통
                    .history_box {
                        position: absolute;
                        flex-direction: column;
                        width: 31.896%;

                        span {
                            margin-top: 0;
                            font-size: 80px;
                        }
                        div {
                            b {
                                font-size: 25px;
                            }
                            .paragraph {
                                margin-top: 10px;
                                padding-top: 16px;
                            }
                        }
                    }
                    .history_box_1 {
                        left: 0;
                        top: 0;
                    }
                    .history_box_2 {
                        right: 0;
                        top: 236px;
                    }
                    .history_box_3 {
                        left: 0;
                        bottom: 258px;
                    }
                    .history_box_4 {
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .trending_section {
            padding: 150px 0;

            .container {
                .round_btn {
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    main {
        .intro_section {
            .container {
                height: 1049px;

                .shoes_img {
                    top: 130px;
                    width: 750px;
                }
                .nike {
                }
                .just_do_it_box {
                    .logo {
                    }
                    div {
                        .just_do_it {
                        }
                        .a_legacy_of_action {
                        }
                    }
                }
            }
        }
        .iconic_section {
            padding: 150px 0;

            .container {
                .title_box {
                }
                .slider {
                }
            }
        }
        .brand_section {
            .container {
                width: 1396px;

                // 공통
                .img_text_box {
                    justify-content: space-between;

                    .text_box {
                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                        }
                    }
                }
                .img_text_box_1 {
                    width: 100%;
                    height: auto;

                    .bg_red_shoes {
                        width: 688px;
                        height: 385px;
                        background: url("img/brand_section_shoes_1.png")
                            no-repeat center/cover;
                    }
                    .text_box {
                        position: static;
                        margin-top: 118px;
                        text-align: left;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 565px;
                        }
                    }
                }
                .img_text_box_2 {
                    margin-top: 166px;
                    margin-left: 0;

                    .text_box {
                        order: 0;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                    .img_box {
                        order: 1;

                        .bg_yellow_shoes {
                            width: 323px;
                            height: 323px;
                            padding-bottom: 0;
                            margin-top: -116px;
                            margin-right: 245px;
                        }
                        .bg_gray_shoes {
                            width: 360px;
                            height: 360px;
                            margin-top: 0;
                            margin-left: auto;
                        }
                    }
                }
                .img_text_box_3 {
                    margin-top: -240px;
                    margin-right: 0;

                    .bg_red_gold_shoes {
                        width: 688px;
                        height: 688px;
                    }
                    .text_box {
                        margin-bottom: 37px;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                }
                .img_text_box_4 {
                    height: auto;
                    margin-top: 63px;

                    .text_box {
                        align-self: flex-end;
                        order: 0;
                        margin-left: 0;

                        h3 {
                        }
                        .paragraph {
                        }
                        .line {
                            width: 563px;
                        }
                    }
                    .bg_blue_shoes {
                        position: static;
                        order: 1;
                        width: 699px;
                        height: 347px;
                    }
                }
            }
        }
        .knight_section {
            width: 1160px;

            .bg_knight_photo {
                width: 455px;
            }
            .text_box {
                width: 705px;
                padding-right: 118px;

                h2 {
                    span {
                    }
                }
                .paragraph {
                    margin: 54px 0 80px;
                }
            }
        }
        .legend_section {
            margin-top: -165px;

            .container {
                padding-top: 374px;

                h2 {
                }
                .paragraph {
                }
                .round_btn {
                }
            }
        }
        .history_section {
            .container {
                height: 945px;

                .bg_red_shoes {
                    width: 321px;
                    height: 886px;
                }
                .history_wrap {
                    // 공통
                    .history_box {
                        flex-direction: row;
                        gap: 48px;
                        width: 452px;

                        span {
                            margin-top: -20px;
                        }
                        div {
                            b {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .history_box_1 {
                        left: 0;
                        top: 0;
                    }
                    .history_box_2 {
                        right: 0;
                        top: 272px;
                    }
                    .history_box_3 {
                        left: 0;
                        bottom: 284px;
                    }
                    .history_box_4 {
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .membership_section {
            position: relative;
            width: 100%;
            height: 803px;

            .container {
                .gray_box {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 27.386%;
                    height: 545px;
                    background: #ececec;
                }
            }
        }
        .trending_section {
            .container {
                position: relative;

                .trending_slider {
                    margin-left: 353px;
                }
                .line {
                    position: absolute;
                    left: 0;
                    top: 235px;
                    width: 1px;
                    height: 440px;
                    background: rgba(255, 255, 255, 0.3);
                }
                .round_btn {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                }
            }
        }
    }
}
