.trending_section .swiper-slide {
    width: 298px;
}

.trending_section .swiper-pagination-fraction,
.swiper-pagination-custom,
.trending_section .swiper-horizontal > .swiper-pagination-bullets,
.trending_section .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.trending_section .swiper-pagination-bullet {
    width: 25%;
    height: 5px;
    margin: 0 !important;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.9);
}

.trending_section .swiper-pagination-bullet-active {
    background: var(--white-color);
}

@media (min-width: 768px) {
    .trending_section .swiper-slide {
        width: 326px !important;
    }
}

@media (min-width: 1024px) {
    .trending_section .swiper-slide {
        width: 334px !important;
    }
}
